<div class="container">
  <nav #nav="ngbNav" class="nav-tabs" ngbNav>
    <ng-container ngbNavItem>
      <a ngbNavLink>
        <div class="title">
          <div class="align-icons">
            <cx-icon class="breadcrumb-icon" type="PIE_CHART"></cx-icon>
          </div>
          <div>{{ 'dashboard.analyticsTab' | cxTranslate }}</div>
        </div>
      </a>
      <ng-template ngbNavContent>
        <div *ngIf="ticketHistory$ | async as ticketHistory; else loading">
          <div class="mid-section">
            <app-addresses class="addresses"></app-addresses>
            <div class="ticket-history">
              <div>
                <app-ticket-history [ticketHistory]="ticketHistory"></app-ticket-history>
              </div>
            </div>
          </div>
        </div>

        <ng-template #loading>
          <div class="cx-spinner">
            <cx-spinner></cx-spinner>
          </div>
        </ng-template>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
