<div class="modal-content">
  <div class="cx-dialog-header modal-header border-0">
    <h5 class="cx-dialog-title modal-title">
      {{ 'alternativeProducts.similarProductRecommendations' | cxTranslate }}
    </h5>
    <button
      (click)="dismissModal('Cross click')"
      aria-label="Close"
      class="close"
      type="button"
    >
    <span aria-hidden="true">
      <cx-icon [type]="iconTypes.CLOSE" class="large"></cx-icon>
    </span>
    </button>
  </div>
  <div class="cx-dialog-body modal-body pt-0">
    <div class="row">
      <div class="col-12">
        <div *ngIf="data?.products?.length > 0" class="declaimer">
          <p class="m-0">
            {{ 'alternativeProducts.declaimer' | cxTranslate }}
          </p>
        </div>
      </div>
      <div *ngIf="data?.products && !data.isLoading; else loading" class="col-12">
        <app-franke-alternative-products-carousel
          [actionButtonLabel]="actionButtonLabelStr"
          [facets]="data.facets"
          [hideIndicators]="true"
          [products]="data.products"
          [showCharaCharacteristics]="true"
        />
      </div>
      <ng-template #loading>
        <div class="col-sm-12 py-5 my-5">
          <cx-spinner></cx-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>
