@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDg4OTM4MS1GcmFua2UyNDp2QWlFczY5TGFJQnpONjdwWHh2Q1hsbkQyYXhiWjJvdg==
always-auth=true
