@mixin text-style($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

.container {
  @media only screen and (min-width: 768px) {
    padding: 0;
  }
}

.step-wrapper {
  text-transform: uppercase;
  display: flex;
  padding: 16px 0;
  border-bottom: 0.7px solid var(--grey);

  width: 100%;
  align-items: center;

  @include text-style(var(--franke-s-font-size), var(--font-weight-base), 18px);

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @include text-style(
        var(--franke-m-font-size),
        var(--font-weight-base),
        21px
    );
  }

  .step-icon {
    margin-right: 19px;
  }

  .step-name {
    display: flex;
    align-items: center;
  }
}

.step-to-do {
  text-decoration: none;
}
