@mixin card-text($font-size, $font-weight, $line-height, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.addresses-card {
  width: 100%;
  padding: 24px;
  border: 1px solid #ebedf0;
  margin-bottom: 24px;
  height: 558px;
  @media only screen and (min-width: 768px) {
    height: 538px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include card-text(
        var(--franke-s-font-size),
        var(--font-weight-semi-bold),
        16px,
        var(--grey)
    );
    margin-bottom: 18px;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @include card-text(
          var(--franke-s-font-size),
          var(--font-weight-semi-bold),
          18px,
          var(--grey)
      );
      margin-bottom: 22px;
    }
    @media only screen and (min-width: 992px) {
      @include card-text(
          var(--franke-m-font-size),
          var(--font-weight-semi-bold),
          21px,
          var(--grey)
      );

      margin-bottom: 26px;
    }

    .address-book-link {
      color: var(--grey);

      &:hover {
        color: var(--element-color);
      }
    }
  }

  .separator {
    border: 1px solid #ebedf0;
    width: 100%;
    margin: 24px 0;
  }

  .delivery-cards-wrapper,
  .invoice-cards-wrapper {
    padding: 8px;
    margin: 0;
    row-gap: 1rem;
    overflow-y: scroll;
    display: grid;
    flex-direction: column;
    max-height: 195px;

    @media only screen and (min-width: 768px) {
      column-gap: 1.5rem;
      row-gap: 1.5rem;
      overflow-x: overlay;
      overflow-y: hidden;
      display: -webkit-box;
    }

    .delivery-card,
    .invoice-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 24px;
      height: 162px;

      border: 1px solid var(--card-border);
      border-radius: 4px;
      @media only screen and (min-width: 768px) {
        width: 249px;
      }

      .name,
      .street,
      .region,
      .postal-code {
        @include card-text(
            var(--franke-s-font-size),
            var(--font-weight-base),
            16px,
            var(--grey)
        );
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          @include card-text(
              var(--franke-s-font-size),
              var(--font-weight-base),
              18px,
              var(--grey)
          );
          margin-right: 13px;
        }
        @media only screen and (min-width: 992px) {
          @include card-text(
              var(--franke-m-font-size),
              var(--font-weight-base),
              21px,
              var(--grey)
          );
          margin-right: 16px;
        }

        &:not(.postal-code) {
          margin-bottom: 10px;
        }
      }

      &:not(.delivery-card) {
        background-color: var(--background-neuter-color);
        border-color: #d9d9d9;

        .name,
        .street,
        .region,
        .postal-code {
          color: var(--grey);
        }
      }
    }
  }
}
