@mixin header-border {
  border-bottom: 1px solid var(--header-border-color);
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
}

.wrapper {
  @media only screen and (max-width: 767px) {
    height: calc(100vh - 132px);
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    height: calc(100vh - 160px);
  }

  @media only screen and (max-width: 991px) {
    background-color: var(--accent-color);
    overflow-y: scroll;
  }

  @media only screen and (min-width: 992px) {
    height: auto;
  }

  &::before {
    @media only screen and (min-width: 992px) {
      @include header-border();
    }
  }

  &::after {
    @media only screen and (min-width: 992px) {
      @include header-border();
    }
  }
}

app-navigation-tabs {
  justify-content: center;
}
