<ng-container *ngIf="cards$ | async as cards">
  <div class="container">
    <ng-container *ngIf="!forceLoader && (isLoading$ | async) === false; else loading">
      <ng-container *ngIf="cards?.length && !addressFormOpened; else newAddressForm">
        <div class="cx-checkout-body row">
          <div *ngFor="let card of cards; let i = index" class="cx-shipping-address-card col-md-6">
            <div class="cx-shipping-address-card-inner">
              <app-card
                (sendCard)="selectAddress(card.address)"
                [border]="true"
                [content]="card.card"
                [fitToContainer]="true"
              ></app-card>
            </div>
          </div>
          <ng-container *ngIf="disableDeliveryAddressChanges === false">
            <div class="cx-shipping-address-card col-md-6">
              <button (click)="showNewAddressForm()" class="card-container add-btn">
                <cx-icon type="ADD"></cx-icon>
                {{ 'checkoutAddress.addNewAddress' | cxTranslate }}
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <ng-template #newAddressForm>
        <div *ngIf="cards.length; else initialAddressForm" class="mt-4">
          <app-address-form
            (backToAddress)="hideNewAddressForm(false)"
            (submitAddress)="addAddress($event)"
            [showTitleCode]="true">
          </app-address-form>
        </div>
        <ng-template #initialAddressForm>
          <app-address-form
            (backToAddress)="hideNewAddressForm(true)"
            (submitAddress)="addAddress($event)"
            [addressData]="selectedAddress"
            [setAsDefaultField]="!isGuestCheckout"
            [showTitleCode]="true"
            cancelBtnLabel="{{ backBtnText | cxTranslate }}">
          </app-address-form>
        </ng-template>
      </ng-template>
    </ng-container>
  </div>

  <ng-template #loading>
    <div class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  </ng-template>
</ng-container>

<div *ngIf="!addressFormOpened" class="SideContent">
  <app-cart-navigation-buttons></app-cart-navigation-buttons>
</div>
