<div class="product">
  <app-shopping-cart-item-promotion-banner
    [entry]="entry"
  ></app-shopping-cart-item-promotion-banner>

  <div class="product-image-row">
    <a
      [routerLink]="{ cxRoute: 'product', params: entry.product } | cxUrl"
      class="product-image"
    >
      <cx-media
        [container]="getThumbnailFormatImage(entry.product.images)"
      ></cx-media>
    </a>
  </div>

  <div class="product-price-row">
    <div class="product-price">
      {{ entry.totalPrice?.formattedValue }}
    </div>
  </div>

  <div class="product-info-row">
    <div
      [routerLink]="{ cxRoute: 'product', params: entry.product } | cxUrl"
      class="product-name"
    >
      {{ entry.product.name }}
    </div>
    <div class="product-details">
      <div class="product-fun-number">
        <div class="fun-number-title">
          {{ 'cartItems.funNumber' | cxTranslate }}
        </div>
        <div class="fun-number">{{ entry.product.code }}</div>
      </div>
      <div class="product-quantity">
        <div class="quantity-title">
          {{ 'cartItems.quantity' | cxTranslate }}
        </div>
        <div class="quantity">{{ entry.quantity }}</div>
      </div>
    </div>
  </div>

  <div class="availability-info-wrapper">
    <div
      *ngIf="
        (hasAvailability$ | async) === false &&
        (availabilityCheckDisabledInCart$ | async) === false
      "
      class="availability-info"
    >
      <cx-icon class="small warning-icon" type="WARNING"></cx-icon>
      {{
      (firstQuantityAvailable$ | async) > 1
        ? ('cartItems.checkAvailabilityInfo'
          | cxTranslate
          : {
            quantity: (firstQuantityAvailable$ | async),
            date: (nextDateAvailable$ | async)
          })
        : (firstQuantityAvailable$ | async) === 1
          ? ('cartItems.checkAvailabilityInfoSingular'
            | cxTranslate
            : {
              quantity: (firstQuantityAvailable$ | async),
              date: (nextDateAvailable$ | async)
            })
          : ('cartItems.checkAvailabilityInfoNoUnits'
            | cxTranslate
            : {
              date: (nextDateAvailable$ | async)
            })
      }}
    </div>
    <div
      *ngIf="(availabilityCheckDisabledInCart$ | async) === true"
      class="availability-info"
    >
      <cx-icon class="small warning-icon" type="WARNING"></cx-icon>
      {{
      'cartItems.estimatedDeliveryDate'
        | cxTranslate: {date: (nextDateAvailable$ | async)}
      }}
    </div>
    <div *ngIf="availabilityError$ | async" class="availability-info">
      <cx-icon class="small warning-icon" type="WARNING"></cx-icon>
      {{ 'cartItems.checkAvailabilityError' | cxTranslate }}
    </div>
  </div>

  <div class="remove-product-row">
    <div
      *ngIf="
        ((hasAvailability$ | async) === false &&
          (availabilityCheckDisabledInCart$ | async) === false) ||
        (availabilityCheckDisabledInCart$ | async) === true ||
        (availabilityError$ | async)
      "
      class="alternative-products-button"
    >
      <app-shopping-cart-alternative-products-overlay-button
        [entry]="entry"
      ></app-shopping-cart-alternative-products-overlay-button>
    </div>
    <div
      [routerLink]="{ cxRoute: 'product', params: entry.product } | cxUrl"
      class="change-product-quantity"
    >
      {{ 'cartItems.changeQuantity' | cxTranslate }}
    </div>
    <div
      (click)="onChange(entry.entryNumber, undefined, 0, 0)"
      class="remove-product"
    >
      {{ 'cartItems.remove' | cxTranslate }}
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
